// universal css
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Texturina:ital,wght@0,200;0,300;1,100;1,200&display=swap');
$font-robo:'Roboto', sans-serif;
$font-tex:'Texturina', serif;
*{
    margin: 0;
    padding: 0;
		// height: 100%;
		
		box-sizing: border-box;
}
// common css
.full-height{
	height: 100%;
}
.fz-10{
	font-size: 10pt;
}
.fz-12{
	font-size: 12pt;
}
.fz-20{
	font-size: 20pt;
}
.fz-25{
	font-size: 25pt;
}
// page css
.left-intro{
	background:#ddd;
	position: fixed;
	font-family: $font-tex;
	left: 0;
	width: 33.33%;
  height: 100%;
  .leftside{
    .myimg{
      width: 10rem;
      height: 10rem;
      // margin: 1rem;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 400;
      border-radius: 50%;
	}
	
    
    
  }
	
	
}
.right{
	font-family: $font-robo;
  background: rgba(130,130,130,0.5);
	section{
		margin:3rem;
		font-size: 1.2rem;
  }
  .intro{
	  p{
		  letter-spacing: 1px;
		  word-spacing: 2px;
	  }
  }
  .txttype{
    // content: attr(data-text);
    // position: absolute;
    // top:0;
    // left: 0;
    animation: type 3s steps(10) infinite;
    border-right: 1px solid #000;
    width: 12ch;
    overflow: hidden;
    }
    @keyframes type{
      0%{
        width: 0ch;
      }
     
      100%{
        width:12ch;
      }
    
  }
  
	.projects{
		.prolinks{

			a{
				text-decoration: none;
				color: #fff;
				border:none;
				outline:none;
				padding:10px 20px;
				background: rgba(20,40,30,0.6);
			}
			a:hover{
				background: rgba(0,160,30,0.6);
				transition: all .4s ease-in-out;
			}
		}
	}
	.contact{
		width: 80%;
		margin-left: 10%;
	  // padding-left: 0;
		// padding-right: 0;
		background: rgba(0,30,30,0.4);
		form{
			font-size: 12pt;
			width: 100%;
			padding: 7%;
			// margin-left: 0%;
			// background: black;
			input{
				width: 100%;
			}
			textarea{
				width: 100%;
			}
		}
	}

}
footer{
	width: 100%;
	height: 80px;
	// margin-bottom: 0;
	
	.foot{
		margin-top: 10px;
		a{
			text-decoration: none;
			padding:10px;
			// color: #000;
			.icon{
				color:rgba(10,20,10,0.6);
			}
		}
		span{
			color: #000;
		}
		p{
			color: #000;
		}
	}
}

//responsive
@media(max-width:991px){
.left-intro{
	height: 30vh;
	margin-bottom:0;
	width: 100%;
	position: relative;
	.leftside{
		h6{
       font-size: 15pt;
		}
    .myimg{
      width: 7rem;
      height: 7rem;
      // margin: 1rem;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 400;
      border-radius: 50%;
	}
	
    
    
  }
}
.right{
	section{
		margin:0rem;
		font-size: 1.2rem;
	}
	.quote{
		margin-top: 10px;
		p,cite{
			// text-align: center;
			font-size: 10pt;
		}
	}
  .intro{
		width: 100%;
		margin-left: 0%;
	  p{
			// width: 100%;
			// padding: 10%;
		  font-size: 10pt;
	  }
	}
	.skills{
		width: 100%;
		margin-left: 0%;
		font-size: 10pt;
	}
  .txttype{
    // content: attr(data-text);
    // position: absolute;
    // top:0;
	// left: 0;
	font-size: 25pt;
    animation: type 8s steps(10) infinite;
    border-right: 1px solid #000;
    width: 12ch;
    overflow: hidden;
    }
    @keyframes type{
      0%{
        width: 0ch;
      }
     
      100%{
        width:12ch;
      }
    
  }

}
	.projects{
  p{
		font-size: 12pt;
		text-align: center;
	}
		.prolinks{
			 flex-direction: column;
			 
			a{
				font-size: 10pt;
				margin-bottom: 15px;
			  // padding: 10px 10px;
			}
			
		}
	}
	.contact{
		width: 100%;
		margin: 0rem;
	  // padding-left: 0;
		// padding-right: 0;
		h2{
			font-size: 20pt;
		}
		form{
			width: 100%;
			input{
				width: 100%;
			}
		}
	}
	footer{
		// width: 100%;
		// height: 80px;
		// // margin-bottom: 0;
		
		.foot{
			// margin-top: 10px;
			font-size: 9pt;
			a{
				text-decoration: none;
				padding:10px;
				// color: #000;
				.icon{
					color:rgba(10,20,10,0.6);
				}
			}
			span{
				color: #000;
			}
			p{
				color: #000;
			}
		}
	}
}
	
@media(max-width:1330px){
	.projects{
		p{
			font-size: 12pt;
			text-align: center;
		}
			.prolinks{
				 flex-direction: column;
				 
				a{
					font-size: 12pt;
					margin-bottom: 15px;
					// padding: 10px 10px;
				}
				
			}
		}
}