// universal css
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,300;1,400;1,500&family=Satisfy&display=swap');
$font-robo: 'Roboto', sans-serif;
$font-sat: 'Satisfy', cursive;
html body{
    margin: 0;
    padding:0;
    height: 100%;
    font-family: $font-robo;
}
// page css
header{
width: 100%;
height: 950px;
background: url('images/banner.png');
background-size: cover;
position: relative;
.navmenu{
    .navbar-nav{
        .nav-item{
            .nav-link{
                outline:none;
                font-family: $font-robo;
                font-weight: 600;
                  }
        }
        .dropdown:hover .dropdown-menu {
              display: block;
              background:transparent;
              transition:all .4s ease-in-out;
             }
    }
}    
}
.heading{
    position: absolute;
    color: #fff;
    top: 25%;
    left: 30%;
    transform:translateY(25%);
    font-family: $font-sat;
    font-size: 110px;
    line-height: 120px;
    text-align: center;
}
.receipe{
    width: 100%;
    margin-top:5%;
    margin-bottom:200px;
    .row{
        h2{
            font-family: $font-sat;
            color: #000;
        }
        p{
            font-size: 12px;
            color: #878787;
            font-family: $font-robo;
        }
        .rbtn{
            text-decoration:none;
            padding: 14px 30px;
            border:1px solid #ffc000;
            border-radius: 40px;
            font-size:12px;
            color: #000;
        }
        .rbtn:hover{
            background:#ffc000;
            color: #fff;
            transition:all .4s ease-in-out;
        }
        a{
            width: 100%;
            font-family: $font-sat;
            font-size:25pt;
            border:1px solid #ffc000;
            padding:12px 20px;
            text-align:center;
            text-decoration:none;
            margin-top:10%;
        }
        a:hover{
            background:#ffc000;
            transition:all .4s ease-in-out;
        }
    }
}
.recvideo{
       margin-bottom:350px;
    .rv{
        .rc{
            font-size:70px;
            font-family: $font-sat;
            line-height: 90px;
           }
        .cr{
            margin-top:10%;
            color: #878787;
            font-size:15px;
           }
           .wv{
               margin-top:10%;
               a{
                   text-decoration:none;
                   padding: 30px;
                   background:#ffc000;
                   border-radius: 40px;
               }
           }
    }
}
.catering{
    margin-bottom:200px;
    img{
        // position: relative;
        margin-top:-80%;
        margin-left:0;
    }
    .card{
        padding:20%;
          h2{
              margin-top:10%;
            font-size: 22pt;
            font-family: $font-sat;
        }
        p{
            margin-top:10%;
            text-align: center;
            color:#878787;
        }
    }
}
.banner{
    margin-bottom:200px;
    text-align: center;
    width: 100%;
    height: 500px;
    background:url('images/banner2.png');
    background-size: cover;
    p{
        font-family: $font-robo;
        padding-top: 8%;
        text-transform: uppercase;
        color: #878787;
        font-size: 10px;
        font-weight:600;
    }
    h1{
        font-family: $font-sat;
        font-size: 50pt;
    }
    a{
    
        text-decoration:none;
         padding: 16px 40px;
        border:1px solid #ffc000;
        border-radius: 40px;
        font-size:12px;
        color: #000;
        background:#ffc000;
    }
    a:hover{
        background:#ffffff;
        color: #ffc000;
        transition:all .4s ease-in-out;
          }
}
.feedback{
    margin-bottom:200px;
    width: 100%;
    // background:#000;
    h1{
        text-align: center;
        font-family: $font-sat;
        font-size: 45pt;
    }
    p{
        text-align: center;
        font-size:12pt;
        font-family: $font-robo;
        color:#878787;
    }
    .carousel-inner{
               padding: 8%;
        .col-lg-6{
            img{
                position: relative;
            }
            .intro{
                position: absolute;
                top:4%;
                transform:translateY(4%);
                left: 30%;
                text-align: left;
                h3{
                    font-family: $font-sat;
                }
               
              .pt{
                  text-align: left;
                  font-size:11pt;
              }
            }
        }
    }
}
.download{
    margin-bottom:200px;
    .dl{
        p{
            font-size:50pt;
            font-family: $font-sat;
            line-height: 80px;
        }
        .dbtn{
            .av{
                
                width: 35%;
                height: 100px;
                background:#ffc000;
                padding:2%;
                a{
                    text-decoration:none;
                }
                }
                .av:hover{
                    background:#fff;
                    transition:all .4s ease-in-out;
                }
                .dv{
                    width: 35%;
                    height: 100px;
                    background:#ffc000;
                    padding:2%;
                    margin-left:-13%;
                    background:#fff;
                    box-shadow: 0 0 1px #000;
                }
                .dv:hover{
                    background: #ffc000;
                    transition:all .4s ease-in-out;
                }
          
        }
       
    }
}
.blog{
    margin-top:10%;
    margin-bottom:12%;
    .row{
        .part-1{
            width: 750px;
            height: 620px;
            box-shadow: 0 0 3px #000;
            img{
                padding: 0;
                position: relative;
            }
            a{
                   text-decoration:none;
                span{
                    position: absolute;
                    top:45%;
                    transform:translateY(45%);
                    left:9%;
                    background:#ffc000;
                    padding:15px 25px;
                    border-radius: 8px;
                    color: #fff;
                    font-size: 17pt;
                    font-style:italic;
                }
            }
            span:hover{
                color: #ffc000;
                background:none;
                transition:all .4s ease-in-out;
            }
            a{
                padding: 20px;
                margin-top:3%;
                font-family: $font-sat;
                color: #000;
                font-size: 20pt;
            }
            p{
                padding: 13px;
                margin-top:15px;
                font-size: 11pt;
                color: #878787;
            }
            span{
                a{
                    font-size: 11pt;
                    font-family: $font-robo;
                    color: #333333;
                }
            }
        }
        .cat{
                padding-left: 23%;
            .key{
                background:#fbf9ff;
                padding: 6%;
                width: 100%;
                height: 190px;
                .form-group{
                    .search{
                        .form-control{
                            width: 95%;
                            padding: 8%;
                            position: relative;
                        }
                        span{
                            position: absolute;
                            left: 85%;
                            top: 26px;
                            transform:translateY(5%);
                            a{
                                text-decoration:none;
                                color: #878787;
                            }
                            
                        }
                    }
                }
            }
            .serbtn{
                // padding-top:5%;
                padding: 20px 92px;
                border:1px solid #ffc000;
                text-transform: uppercase;
                text-decoration:none;
                color:#ffc000;                
            }
            .serbtn:hover{
                background:#ffc000;
                transition:all .4s ease-in-out;
                color:#fff;
            }
        }
        .category{
            background:#fbf9ff;
            padding: 7%;
            width: 100%;
            h4{
                font-family: $font-sat;
            }
            a{
                color: #878787;
                text-decoration:none;
            }
        }
        .recnt{
            background:#fbf9ff;
            padding: 7%;
            h4{
                font-family: $font-sat;
            }
            .posts{
                .ps-1{
                    width: 33%;
                    height: 90px;
                }
                .ps-2{
                    width: 33%;
                    margin-left: -10px;
                }
                .ps-3{
                    width: 33%;
                    height: 90px;
                }
                .ps-4{
                    width: 33%;
                    margin-left: -10px;
                }
                .life{
                     padding-left:9px;
                    a{
                        // margin-top: 10px;
                        text-decoration:none;
                        padding: 0;
                        font-family: $font-sat;
                        font-size: 13pt;
                        color: #000;
                    }
                    a:hover{
                        color: #ffc000;
                        transition:all .4s ease-in-out;
                    }
                    p{
                        margin-top:-8px;
                        color: #878787;
                    }
                }
            }
        }
        .tag{
            background:#fbf9ff;
            padding: 5%;
            h4{
                font-family: $font-sat;
            }
            .links{
                ul{
                    list-style:none;
                    padding: 10px;
                    li{
                        display: inline;
                        // padding: 5px;
                        
                        a{
                            // margin-bottom:10px;
                            padding: 2%;
                            border:none;
                            box-shadow: 0 0 1px #000;
                            background:#fff;
                            text-decoration:none;
                            color:#878787;
                            font-size:15px;
                        }
                        a:hover{
                            background:#ffc000;
                            color: #fff;
                            transition:all .4s ease-in-out;
                        }
                    }

                }

            }
        }
        .insta{
            width: 100%;
            height: 300px;
            padding: 3%;
            background:#fbf9ff;
            h4{
                font-family: $font-sat;
            }
            .images{
                img{
                    width: 30%;
                }
            }
        }
        .key{
            background:#fbf9ff;
            padding: 6%;
            width: 100%;
            height: 310px !important;
            h4{
                font-family: $font-sat;
            }
            .form-group{
                .search{
                    .form-control{
                        width: 95%;
                        padding: 9% !important;
                        position: relative;
                        border:none;
                    }
                    span{
                        position: absolute;
                        left: 85%;
                        top: 26px;
                        transform:translateY(5%);
                        a{
                            text-decoration:none;
                            color: #878787;
                        }
                        
                    }
                }
                .serbtn{
                    // padding-top:5%;
                    padding: 20px 92px;
                    border:1px solid #ffc000;
                    text-transform: uppercase;
                    text-decoration:none;
                    color:#ffc000;                
                }
                .serbtn:hover{
                    background:#ffc000;
                    transition:all .4s ease-in-out;
                    color:#fff;
                }
            }
        }
        
    }
        }
        .dragon{
            margin-top:10%;
            margin-bottom:200px;
            .row{
                .tiger{
                    padding: 5%;
                    h3{
                        font-family: $font-sat;
                    }
                    p{
                        color: #878787;
                    }
                    .list-item{
                        span{
                        
                            i{
                                color: #ffc000;
                            }
                        }
                            
                    }
                    a{
                        text-decoration:none;
                        color:#878787;
                        padding: 8px;
                    }
                    a:hover{
                        color: #000;
                    }
                }
                p{
                    color: #878787;
                }
            }
        }
        .touch{
            margin-top:10%;
            margin-bottom:200px;
            h4{
                font-family: $font-sat;
            }
            .row{

                .form-group{
                    

                        a{
                            border:1px solid #ffc000;
                            padding: 20px 25px;
                            color:#ffc000;
                            text-decoration:none;
                            
                         }
                         a:hover{
                             background:#ffc000;
                             color:#ffffff;
                             transition:all .4s ease-in-out;
                         }
                    
                }
            }
        }

footer{
    width: 100%;
    background:#000;
    height:600px;

    .foot{
        padding-top:10%;
        display: flex;
        justify-content: space-around;
        .products{
            h3{
                font-family: $font-sat;
                color: #fff;
            }
                a{
                    text-decoration:none;
                    font-size:11pt;
                    color: #919191;
                }   
                a:hover{
                    color: #ffc000;
                }
             p{
                 font-size:10pt;
                 color: #919191;
             }
             .form-inline{
                .form-control{
                    width: 300px;
                    padding:7%;
                    border:none;
                    background:#333333;
                }
                         .btn{
                             background:#ffc000;
                             padding:12px 25px;
                         }
             }
             
        }
    }
    .sicon{
        padding-top: 10%;
        display: flex;
        justify-content: space-around;
        p{
            color: #919191;
            a{
                text-decoration:none;
                color: #ffc000;
            }
        }
        .icons{
            
            i{
                font-size: 15pt;
                width: 20%;
                height: 20px;
                color: #919191;
                background:#333333;
            }
            i:hover{
                color: #ffc000;
            }
       }
    }
}
// Responsive
@media (min-width:360px) and (max-width:576px){
 
    header{
        width: 100%;
        height: 670px;
        background: url('images/banner.png');
        // background-size: cover;
        background-attachment: fixed;
        background-position: center;
        position: relative;
        .navmenu{
            .navbar-nav{
                display: block;
                padding: 0;
                .nav-item{
                    .nav-link{
                        outline:none;
                        font-family: $font-robo;
                        font-weight: 600;
                          }
                }
                
            }
        }    
        }
        .heading{
            position: absolute;
            color: #fff;
            // color:red;
            top: 30%;
            left: 4%;
            transform:translateY(30%);
            font-family: $font-sat;
            font-size: 50px;
            line-height: 70px;
            text-align: center;
        }
        .receipe{
            width: 100%;
            margin-top:5%;
            margin-bottom:150px;
            .row{
                img{
                    width: 50%;
                    margin-top: 8%;
                }
                h2{
                    font-family: $font-sat;
                    color: #000;
                    margin-top:-8%;
                    font-size:15pt;
                }
                p{
                    
                    font-size: 12px;
                    color: #878787;
                    font-family: $font-robo;
                    margin-top: -5%;
                }
                .rbtn{
                    text-decoration:none;
                    padding: 12px 20px;
                    border:1px solid #ffc000;
                    border-radius: 40px;
                    font-size:10px;
                    color: #000;
                    margin-top:-100px !important;
                }
                .rbtn:hover{
                    background:#ffc000;
                    color: #fff;
                    transition:all .4s ease-in-out;
                }
                a{
                    width: 100%;
                    font-family: $font-sat;
                    font-size:25pt;
                    border:1px solid #ffc000;
                    padding:12px 20px;
                    text-align:center;
                    text-decoration:none;
                    margin-top:10%;
                }
                a:hover{
                    background:#ffc000;
                    transition:all .4s ease-in-out;
                }
            }
        }
        .recvideo{
               margin-bottom:130px;
            .rv{
                .rc{
                    font-size:40px;
                    text-align:center;
                    font-family: $font-sat;
                    line-height: 60px;
                   }
                .cr{
                    text-align:center;
                    margin-top:10%;
                    color: #878787;
                    font-size:15px;
                   }
                   .wv{
                       margin-top:10%;
                       margin-left: 8%;
                       a{
                           text-decoration:none;
                           padding: 18px;
                           background:#ffc000;
                           border-radius: 40px;
                       }
                       span{
                           font-size:20pt;
                       }
                   }
            }
        }
        .col-img{
            margin-top: 10%;
            .bigImg{
                width: 100%;
            }
            #smimg{
                margin-left: 12%;
                width: 25%;
                margin-top: 13%;
            }
        }
        .catering{
            margin-bottom:100px;
            img{
                // position: relative;
                margin-top:-42%;
                margin-left:18%;
                width: 55%;
            }
            .card{
                padding:10%;
                margin-top: 30%;
                // padding-top:15%;
                text-align:center;
                  h2{
                      margin-top:10%;
                    font-size: 18pt;
                    font-family: $font-sat;
                }
                p{
                    margin-top:5%;
                    text-align: center;
                    color:#878787;
                }
            }
        }
        .banner{
            margin-bottom:30px;
            text-align: center;
            width: 100%;
            height: 430px;
            background:url('images/banner2.png');
            background-size: cover;
            // background-attachment: fixed;\
            background-position: center;
            p{
                font-family: $font-robo;
                padding-top: 15%;
                text-transform: uppercase;
                color: #878787;
                font-size: 10px;
                font-weight:600;
            }
            h1{
                font-family: $font-sat;
                font-size: 40pt;
                margin-top: 15%;
            }
            a{
            
                text-decoration:none;
                 padding: 13px 20px;
                border:1px solid #ffc000;
                border-radius: 40px;
                font-size:12px;
                color: #000;
                background:#ffc000;
            }
            a:hover{
                background:#ffffff;
                color: #ffc000;
                transition:all .4s ease-in-out;
                  }
        }
        .feedback{
            margin-bottom:130px;
            width: 100%;
            // background:#000;
            h1{
                text-align: center;
                font-family: $font-sat;
                font-size: 35pt;
            }
            p{
                text-align: center;
                font-size:12pt;
                font-family: $font-robo;
                color:#878787;
            }
            .carousel-inner{
                       padding: 8%;
                .col-lg-6{
                    img{
                        position: relative;
                        width: 25%;
                        margin-top: 45%;
                    }
                    .intro{
                        position: absolute;
                        top:10%;
                        transform:translateY(4%);
                        left: 30%;
                        text-align: left;
                        h3{
                            font-family: $font-sat;
                        }
                       
                      .pt{
                          text-align: left;
                          font-size:11pt;
                      }
                    }
                }
            }
        }
        .download{
            margin-bottom:130px;
            .row{
                     .bigimg{
                         width: 100%;
                     }
                     .smimg{
                         width: 25%;
                         margin-top: 13%;
                         margin-left: 13%;
                     }
                .dl{
                    margin-top: 18%;
                    text-align: center;
                    p{
                        font-size:30pt;
                        font-family: $font-sat;
                        line-height: 50px;
                    }
                    .dbtn{
                        .av{
                            
                            width: 35%;
                            height: 100px;
                            background:#ffc000;
                            padding:2%;
                            a{
                                text-decoration:none;
                                i{
                                    width: 20% !important;
                                    // padding: 0;
                                }
                                span{
                                    font-size:12px !important;
                                    margin-top:-2% !important;
                                }
                                                            }
                            }
                            .av:hover{
                                background:#fff;
                                transition:all .4s ease-in-out;
                            }
                            .dv{
                                width: 40%;
                                height: 100px;
                                background:#ffc000;
                                padding:1%;
                                margin-left:-13%;
                                background:#fff;
                                box-shadow: 0 0 1px #000;
                                a{
                                    span{
                                        font-size: 12px !important;
                                    }
                                }
                            }
                            .dv:hover{
                                background: #ffc000;
                                transition:all .4s ease-in-out;
                            }
                      
                    }
                   
                }
            }
        }
        .blog{
            margin-top:10%;
            margin-bottom:12%;
            .row{
                .part-1{
                    width: 750px;
                    height: 620px;
                    box-shadow: 0 0 3px #000;
                    img{
                        padding: 0;
                        position: relative;
                    }
                    a{
                           text-decoration:none;
                        span{
                            position: absolute;
                            top:45%;
                            transform:translateY(45%);
                            left:9%;
                            background:#ffc000;
                            padding:15px 25px;
                            border-radius: 8px;
                            color: #fff;
                            font-size: 17pt;
                            font-style:italic;
                        }
                    }
                    span:hover{
                        color: #ffc000;
                        background:none;
                        transition:all .4s ease-in-out;
                    }
                    a{
                        padding: 20px;
                        margin-top:3%;
                        font-family: $font-sat;
                        color: #000;
                        font-size: 20pt;
                    }
                    p{
                        padding: 13px;
                        margin-top:15px;
                        font-size: 11pt;
                        color: #878787;
                    }
                    span{
                        a{
                            font-size: 11pt;
                            font-family: $font-robo;
                            color: #333333;
                        }
                    }
                }
                .cat{
                        padding-left: 23%;
                    .key{
                        background:#fbf9ff;
                        padding: 6%;
                        width: 100%;
                        height: 190px;
                        .form-group{
                            .search{
                                .form-control{
                                    width: 95%;
                                    padding: 8%;
                                    position: relative;
                                }
                                span{
                                    position: absolute;
                                    left: 85%;
                                    top: 26px;
                                    transform:translateY(5%);
                                    a{
                                        text-decoration:none;
                                        color: #878787;
                                    }
                                    
                                }
                            }
                        }
                    }
                    .serbtn{
                        // padding-top:5%;
                        padding: 20px 92px;
                        border:1px solid #ffc000;
                        text-transform: uppercase;
                        text-decoration:none;
                        color:#ffc000;                
                    }
                    .serbtn:hover{
                        background:#ffc000;
                        transition:all .4s ease-in-out;
                        color:#fff;
                    }
                }
                .category{
                    background:#fbf9ff;
                    padding: 7%;
                    width: 100%;
                    h4{
                        font-family: $font-sat;
                    }
                    a{
                        color: #878787;
                        text-decoration:none;
                    }
                }
                .recnt{
                    background:#fbf9ff;
                    padding: 7%;
                    h4{
                        font-family: $font-sat;
                    }
                    .posts{
                        .ps-1{
                            width: 33%;
                            height: 90px;
                        }
                        .ps-2{
                            width: 33%;
                            margin-left: -10px;
                        }
                        .ps-3{
                            width: 33%;
                            height: 90px;
                        }
                        .ps-4{
                            width: 33%;
                            margin-left: -10px;
                        }
                        .life{
                             padding-left:9px;
                            a{
                                // margin-top: 10px;
                                text-decoration:none;
                                padding: 0;
                                font-family: $font-sat;
                                font-size: 13pt;
                                color: #000;
                            }
                            a:hover{
                                color: #ffc000;
                                transition:all .4s ease-in-out;
                            }
                            p{
                                margin-top:-8px;
                                color: #878787;
                            }
                        }
                    }
                }
                .tag{
                    background:#fbf9ff;
                    padding: 5%;
                    h4{
                        font-family: $font-sat;
                    }
                    .links{
                        ul{
                            list-style:none;
                            padding: 10px;
                            li{
                                display: inline;
                                // padding: 5px;
                                
                                a{
                                    // margin-bottom:10px;
                                    padding: 2%;
                                    border:none;
                                    box-shadow: 0 0 1px #DEDEDE;
                                    background:#fff;
                                    text-decoration:none;
                                    color:#878787;
                                    font-size:15px;
                                }
                                a:hover{
                                    background:#ffc000;
                                    color: #fff;
                                    transition:all .4s ease-in-out;
                                }
                            }
        
                        }
        
                    }
                }
                .insta{
                    width: 100%;
                    height: 300px;
                    padding: 3%;
                    background:#fbf9ff;
                    h4{
                        font-family: $font-sat;
                    }
                    .images{
                        img{
                            width: 30%;
                        }
                    }
                }
                .key{
                    background:#fbf9ff;
                    padding: 6%;
                    width: 100%;
                    height: 310px !important;
                    h4{
                        font-family: $font-sat;
                    }
                    .form-group{
                        .search{
                            .form-control{
                                width: 95%;
                                padding: 9% !important;
                                position: relative;
                                border:none;
                            }
                            span{
                                position: absolute;
                                left: 85%;
                                top: 26px;
                                transform:translateY(5%);
                                a{
                                    text-decoration:none;
                                    color: #878787;
                                }
                                
                            }
                        }
                        .serbtn{
                            // padding-top:5%;
                            padding: 20px 92px;
                            border:1px solid #ffc000;
                            text-transform: uppercase;
                            text-decoration:none;
                            color:#ffc000;                
                        }
                        .serbtn:hover{
                            background:#ffc000;
                            transition:all .4s ease-in-out;
                            color:#fff;
                        }
                    }
                }
                
            }
                }
                .dragon{
                    margin-top:10%;
                    margin-bottom:200px;
                    .row{
                        .tiger{
                            padding: 5%;
                            h3{
                                font-family: $font-sat;
                            }
                            p{
                                color: #878787;
                            }
                            .list-item{
                                span{
                                
                                    i{
                                        color: #ffc000;
                                    }
                                }
                                    
                            }
                            a{
                                text-decoration:none;
                                color:#878787;
                                padding: 8px;
                            }
                            a:hover{
                                color: #000;
                            }
                        }
                        p{
                            color: #878787;
                        }
                    }
                }
                .touch{
                    margin-top:10%;
                    margin-bottom:200px;
                    h4{
                        font-family: $font-sat;
                    }
                    .row{
        
                        .form-group{
                            
        
                                a{
                                    border:1px solid #ffc000;
                                    padding: 20px 25px;
                                    color:#ffc000;
                                    text-decoration:none;
                                    
                                 }
                                 a:hover{
                                     background:#ffc000;
                                     color:#ffffff;
                                     transition:all .4s ease-in-out;
                                 }
                            
                        }
                    }
                }
        
        footer{
            width: 100%;
            background:#000;
            height:100vh;
        
            .foot{
                padding-top:10%;
                display: flex;
                justify-content: space-around;
                .products{
                    margin-left: 50px;
                    h3{
                        font-family: $font-sat;
                        color: #fff;
                        font-size: 8pt;
                        // margin-left: 75px !important;
                        // margin-right: 0;
                        // text-align: center;
                      }
                        a{
                            text-decoration:none;
                            font-size:9pt;
                            color: #919191;
                        }   
                        a:hover{
                            color: #ffc000;
                        }
                     p{
                         font-size:10pt;
                         color: #919191;
                     }
                     .form-inline{
                        .form-control{
                            width: 300px;
                            padding:7%;
                            border:none;
                            background:#333333;
                        }
                                 .btn{
                                     background:#ffc000;
                                     padding:12px 25px;
                                 }
                     }
                     
                }
            }
            .sicon{
                padding-top: 10%;
                display: flex;
                justify-content: space-around;
                p{
                    color: #919191;
                    a{
                        text-decoration:none;
                        color: #ffc000;
                    }
                }
                .icons{
                    
                    i{
                        font-size: 15pt;
                        width: 20%;
                        height: 20px;
                        color: #919191;
                        background:#333333;
                    }
                    i:hover{
                        color: #ffc000;
                    }
               }
            }
        }   
}